.jumbo {
  text-align: center;
  font-size: 5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.center {
  text-align: center;
}

a:link, a:visited {
  color: #0096cf;
}

a:hover, a:active {
  color: #00b0f4
}
